@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Jokes App</h1>
   <p>Welcome to the most amazing jokes app on the localhost!</p>
   <p>Make sure you  <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">login</a> or <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">make an account</a> so you can post your awesome jokes :)</p>

   
    </li>
</div>
